// colors

$color-copy-dark: #000000;
$color-primary: #ffe600;
$color-bg-white: #ffffff;
$color-bg-muted: #1c1c1c;
$color-gray: #363636;

// fonts
$font-primary: "Roboto Condensed", sans-serif;
$font-secondary: "Rasa", serif;
