.button {
  text-decoration: none;
  display: inline-block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

  &:hover {
    cursor: pointer;
  }

  &-primary {
    background-color: $color-copy-dark;
    border-radius: $radius-primary;
    padding: 0.7em 0.875em;
    color: $color-bg-white;
    font-weight: 700;
  }

  &-underline{
    color: $color-copy-dark;
    font-size: 1em;
    font-weight: 700;
    font-family: $font-primary;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-bottom: 1px solid $color-copy-dark;
    background-color: $color-bg-white;
    padding-bottom: 0.625em;
    width: fit-content;
  }

  &-arrow-right{
display: block;
margin-left: 1.25em;
  }
}
