.section-articles {
  margin: 1.875em auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  max-width: 120em;

  @media (max-width: 2000px) {
    margin: 1.875em 2em;
  }

  @media (max-width: $breakpoint-medium) {
    flex-direction: column;
    margin: 0 0 1.75em 0;
  }
}

.section-tags {
  padding: 1.25em 0;

  .tags-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .tags-title {
    color: $color-copy-dark;
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 1.625em 0 0;
  }

  .menu {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .menu-item-link {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    .heading-title {
      color: $color-copy-dark;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.1em;
      margin: 0;
    }
  }
  @media (max-width: $breakpoint-medium) {
    padding: 0;

    .tags-wrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    .tags-title {
      margin: 0 0 0.625em 0;
    }

    .menu {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .menu-item-link {
      padding: 0 1em 0.625em 0;
    }
  }
}

.section-posted {
  .posted-article {
    margin-top: 4.375em;
  }

  @media (max-width: $breakpoint-medium) {
    .posted-article {
      margin-top: 1.625em;

      & > div {
        display: flex;
        flex-direction: row-reverse;
      }
    }
  }
}
