.separator-line{
    display: block;
    background-image: url(../../../dist/images/Line.svg);
    background-repeat: repeat-x;
    background-size: contain;
    overflow: hidden;
    padding: 0.3125em;
}